html {
  font-size: 62.5%;
  font-family: CooperHewitt-Book,Verdana,Arial,sans-serif;
}

body {
  margin: 0;
  background-color: #f3f4f8;
}

header, footer {
  background-color: #ef4070;
  padding: 1rem;
}

footer {
  text-align: center;
  color: white;
  font-size: 2rem;
  padding: 4rem;
}


header img {
  width: 12.6rem;
}

img {
  border: 0 none;
  margin-left: 80px;
}

a {
  color: #ef4070;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.title {
  background-color: white;
  padding: 1rem;
}

.title h1 {
  color: #ef4070;
  font-size: 4.6rem;
  text-align: center;
  font-weight: 400;
}

.content {
  background-color: white;
  color: #5d5d5d;
  font-family: freight-text-pro,serif;
  font-size: 1.8rem;
  line-height: 3rem;

  margin: 8rem;
  margin-right: 5%;
  margin-left: 5%;
  padding: 6rem 18rem;
}

@media screen and (max-width: 1024px) {
  .content {
    padding: 4rem;
    margin: 4rem;
  }
}

.content h2 {
  margin-top: 6rem;
  margin-bottom: 6rem;
  text-align: center;
}
